@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


.product-button-uprav{
    position:relative;
    bottom:3.9rem;
    left: 62rem;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}
.product-button-uprav:focus{
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.product-button-uprav:active{
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
.product-button-uprav:hover{
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.product-image {
    width: 100%;
    height: 25rem;
    max-width: 24rem;
    object-fit: cover;
}
.product-image-detail {
    width: 100%;
    height: 25rem;
    max-width: 24rem;
}

.product-popis {
    font-size:1rem;
    padding-left: 5px;
}
.part-2{
    border: 1px solid transparent;
}
.part-2:hover{
    border: 1px solid black;
}
.product-price-main{
    font-size: 20px;
    position: relative;
    top:-0.5rem;
    left:0.5rem;
    color: red;
    font-weight: bold;

}

.product-price{
    font-size: 20px;
    position: relative;
    top:-0.5rem;
    left:1%;
    color: red;
    font-weight: bold;

}

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}
.product-jmeno-detail{
    width:33rem;
    position: relative;
    top: -4rem;
    left: 28rem;
}
a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    float:left;
    position: relative;
    top: 4rem;
    width: 24rem;
    left: 8%;
    padding-left:10px;
}
.product-name{
    font-size: 1.5rem;
    position: relative;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    top:0.5rem;
    left: 0.5rem;
}

.section-products-detail{
    padding: 20px 0 40px;
    position: relative;
    left:20rem;
    bottom: -2rem;
    width: 24rem;
}
.detail-text {
    font-size: 1rem;
    position: relative;
    left: 28rem;
    bottom: 5rem;
    width: 35rem;
    word-break: break-all;
}

.section-products .header {
    margin-bottom: 50px;
    border: 2px solid black;
    width: 35rem;

}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 80px;
    max-height: 290px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    padding: 0.5rem;
    font-size: 1rem;

}

.section-products .single-product .part-2 h4 {
    padding: 0.25rem;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    left: 4rem;
    top:2.25rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    bottom:0.5rem;
    left:0.5rem;

}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
.banner-add{
    position: relative;
    top: 5%;
    left: 40%;
}
